body {
  background-color: hsla(200, 68%, 74%, 0.322); /* Light grey so it's easy on the eyes */
  font-family: Arial, sans-serif; /* A clear, simple font */
  line-height: 1;
  color: #404f4d;
}

/* This styles your main heading */
h1 {
  color: rgb(246, 255, 0);
  background-color: #000000; /* Emergency Red */
  padding: 30px;
  text-align: center;
  border: 15px solid rgb(246, 255, 0);
}

/* This styles your Navigation Menu */
nav {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  border: 15px solid rgb(255, 94, 0);
}

nav a {
  color: rgb(255, 0, 0);
  text-decoration: double underline; /* Removes the underline */
  padding: 27px;
}

nav a:hover {
  background-color: #971709a1; /* Makes the button change color when hovered */
 border-radius: 15px;
}
img {
  color: rgb(0, 0, 0);
  background-color: #fae900; /* Emergency Red */
  padding: 15px;
  border-radius: 50px; /* rounded corners */
  text-align: center;
  border: 15px solid hsl(0, 0%, 0%);
}
button{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 242, 0);
  padding: 13px;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
}
input{
border-radius: 5px;
}
textarea{
  border-radius: 8px;
  border-color: black;
  padding: 20;
  border-width: 2px;
}
ol{
line-height: 1.3;
}
ul{
  line-height: 1.3;}
    /* Center the cards on small screens */
